html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto;
    overflow-y: scroll;
    background-repeat: repeat-y;
}

h1 {
    font-size: 500%;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    font-size: 400%;
}

h3 {
    color: white;
    text-align: center;
    font-size: 200%;
}

.navbar {
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
}

ul.nav li a, ul.nav li a:visited {
    color: black !important;
}

.content {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: white;
}

.container {

    z-index: 2147483648;
}

.nav:hover {
    background-color: rgba(0,0,0,0.1);
}

a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: rgba(0,0,0,0.1);
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: rgba(0,0,0,0.1);
}

.hover {
    background-color: white;
}

body {
    background: transparent;
}

.help-block {
    margin-bottom: -10px;
    margin-top: -10px;
}

.alert {
    margin-bottom: 0;
    margin-top: 10px;
}

.float-right {
    float: right;
}

.main-content {
    margin-top: 15px;
}

.small-display {
    display: none;
}

.small-display-field {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .float-right {
        float: none;
    }
    .main-content {
        margin-top: 25px;
    }
    .bright-display {
        display: none;
    }
    .small-display {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 300%;
    }

    h2 {
        font-size: 200%;
    }

    h3 {
        font-size: large;
    }
}

.custom-nav {
    position: fixed;
    width: 100%;
    z-index: 999999999999;
}
